<%- include('partials/header.ejs'); -%>
<div>
  <div class="box" id="heading">
    <h1><%if(locals.listTitle){%> <%= listTitle %> <%}%></h1>
  </div>
  <div class="box">
    <% for(let item of listItems){%>
    <div class="item">
      <form action="/deleteItem" method="post" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input
          type="checkbox"
          onchange="handlerDelete()?this.form.submit(): this.checked=false"
          name="deleteItemId"
          value="<%= item.id %>"
          alt="Field to delete an item."
        />
      </form>

      <p id="title<%=item.id%>"><%= item.title %></p>

      <form class="edit" action="/editItem" method="post" onsubmit="return confirm('Are you sure you want to save this change? All other unsaved changes will be lost.');">
        <input type="hidden" name="updatedItemId" value="<%= item.id %>" />
        <input
          id="input<%=item.id%>" pattern="^[a-zA-Z0-9][a-zA-Z0-9 .,]*[a-zA-Z0-9.,]$"
          required
          type="text"
          name="updatedItemTitle"
          value="<%= item.title %>"
          autocomplete="off"
          autofocus="true" alt="Field to edit an item."
          hidden="true" maxlength="255"  title="First character must be alphanumeric; subsequent characters can be alphanumeric, space, period, or comma; last character must be alphanumeric, comma, or period."
        />
        <button id="done<%=item.id%>" class="edit" type="submit" hidden>
          <img
            class="icon"
            src="/assets/icons/check-solid.svg"
            alt="tick image"
          />
        </button>
        <input id="cancel<%=item.id%>" type="button" value="Cancel" onclick="handlerCancel('<%=item.id%>')" hidden/>
      </form>
      <button
        id="edit<%=item.id%>"
        class="edit"
        onclick="handler('<%=item.id%>')"
      >
        <img
          class="icon"
          src="/assets/icons/pencil-solid.svg"
          alt="pencil image"
        />
      </button>
    </div>
    <% } %>

    <form class="item" action="/addItem" method="post">
      <input
        type="text" alt="Field to add an item."
        required
        name="newItem"
        placeholder="New Item"
        autocomplete="off"
        autofocus="true"
        maxlength="255"
        pattern="^[a-zA-Z0-9][a-zA-Z0-9 .,]*[a-zA-Z0-9.,]$"  title="First character must be alphanumeric; subsequent characters can be alphanumeric, space, period, or comma; last character must be alphanumeric, comma, or period."
      />
      <button class="add" type="submit" name="list" value="">+</button>
      Items can contain 1-255 characters, including alpha-numeric, space,
      fullstop, comma.
    </form>
    <% if (locals.error) {%><p class="error"></p><%= error%>test</p><%}%>
  </div>
</div>
<script>
 
 window.history.pushState(null,null, "/");

  function handler(id) {
    document.getElementById("title" + id).setAttribute("hidden", true);
    document.getElementById("edit" + id).setAttribute("hidden", true);
    document.getElementById("cancel" + id).removeAttribute("hidden");
    document.getElementById("done" + id).removeAttribute("hidden");
    document.getElementById("input" + id).removeAttribute("hidden");
  }
  function handlerCancel(id) {
    document.getElementById("title" + id).removeAttribute("hidden");
    document.getElementById("edit" + id).removeAttribute("hidden");
    document.getElementById("cancel" + id).setAttribute("hidden", true);
    document.getElementById("done" + id).setAttribute("hidden", true);
    document.getElementById("input" + id).setAttribute("hidden", true);
  }
  function handlerDelete() {
    let result= confirm('Are you sure you want to delete this item?');
    return(result);
  }
</script>
<div>
  <div class="box" id="heading">
    <h1><%if(locals.listTitle){%> <%= listTitle %> <%}%></h1>
  </div>
  <div class="box">
    <% for(let item of listItems){%>
    <div class="item">
      <form action="/delete" method="post">
        <input
          type="checkbox"
          onchange="this.form.submit()"
          name="deleteItemId"
          value="<%= item.id %>"
        />
      </form>

      <p id="title<%=item.id%>"><%= item.title %></p>

      <form class="edit" action="/edit" method="post">
        <input type="hidden" name="updatedItemId" value="<%= item.id %>" />
        <input
          id="input<%=item.id%>"
          required
          type="text"
          name="updatedItemTitle"
          value="<%= item.title %>"
          autocomplete="off"
          autofocus="true"
          hidden="true"
          maxlength="100"
        />
        <button id="done<%=item.id%>" class="edit" type="submit" hidden>
          <img
            class="icon"
            src="/assets/icons/check-solid.svg"
            alt="tick image"
          />
        </button>
      </form>
      <button
        id="edit<%=item.id%>"
        class="edit"
        onclick="handler('<%=item.id%>')"
      >
        <img
          class="icon"
          src="/assets/icons/pencil-solid.svg"
          alt="pencil image"
        />
      </button>
    </div>
    <% } %>

    <form class="item" action="/add" method="post">
      <input
        type="text"
        required
        name="newItem"
        placeholder="New Item"
        autocomplete="off"
        autofocus="true"
        maxlength="100"
      />
      <button class="add" type="submit" name="list" value="">+</button>
    </form>
    <p class="error"><% if (locals.error) {%><%= error%><%}%>test</p>
  </div>
</div>
<%- include('partials/footer.ejs'); -%>
